
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1406;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}



/* ui objects utility classes */

.card-light {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
	background-color: #f8fafc;
	padding: 0 12px;
	border-radius: 18.8px;
	overflow: hidden;
}

.circle-blue {
	width: 48px; height: 48px;
	background-color: rgba(30, 58, 138, 0.1);
	padding: 12px;
	border-radius: 50%;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}
